
.boton{
	width:100px;
	height:50px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

.boton--enviar{
	@extend .boton;
	background-color:green;
	color:yellow;
}

.boton--cancelar{
	@extend .boton;
	background-color:red;
	color:yellow;
}

@mixin flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.centro {
   @include flex-row-center;
}

@import "colores.scss";

